# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and local config
*.log
*.env
.env

# IDE/editor folders
.vscode/
.idea/
